@font-face {
    font-family: Bebas;
    src: url(../resources/fonts/BEBAS.ttf);
}

.btn, .navbar-default, .navbar-default .navbar-header .navbar-brand, h1, h2, h3, h4, h5, h6 {
    font-family: BEBAS,'Open Sans','Helvetica Neue',Arial,sans-serif;
}

header {
    background-image: url(../img/home.jpg);
/*  background-color: #CE6E69;*/
/*  background-color:rgba(206, 110, 105, 0.4); */
    background-color:rgba(255, 200, 200, 0.6); 
    background-blend-mode: color-dodge;
    color:#111;
    min-height: 100%;
}

header .header-content {
    position: absolute;
    top: 50%;
    padding:0;
}

#homeHeading {
    text-align: left;
    font-weight: normal;
    display:inline-block;
}


@media (min-width: 768px){
    header .header-content .header-content-inner h1 {
        font-size: 40px;
    }
}