@font-face {
    font-family: Bebas;
    src: url(../resources/fonts/BEBAS.ttf);
}

body, .btn, .navbar-default, .navbar-default .navbar-header .navbar-brand, h1, h2, h3, h4, h5, h6 {
    font-family: BEBAS,'Open Sans','Helvetica Neue',Arial,sans-serif;
}

header {
    background-image: url(../img/home.jpg);
/*  background-color: #CE6E69;*/
/*  background-color:rgba(206, 110, 105, 0.4); */
    background-color:rgba(255, 200, 200, 0.6); 
    background-blend-mode: color-dodge;
    color:#111;
    min-height: 100%;
}

header .header-content {
    position: absolute;
    top: 50%;
    padding:0;
}

header .header-content .line {
    background-color: #CE6E69;
    width:30px;
    height:5px;
    display:inline-block;
}

#homeHeading {
    text-align: left;
    font-weight: normal;
    display:inline-block;
}

.header-border {
    height: 30px;
    width: 330px;
    position: absolute;
    bottom: 5%;
    right: 10%;
}

.header-border .border{
    display:block;
    width:50px;
    height:20px;
    float:left;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3px;
}

.header-border .border-left{
    background-image: url(../img/borde_izquierdo.png);
}

.header-border .border-right{
    background-image: url(../img/borde_derecho.png);
}
.header-border span{
   float:left; 
    margin: 0 8px;
    letter-spacing: 3px;
}

.header-lamps-wrapper {
    height: 300px;
    float:right;
    margin-right:10%;
}
.header-lamp {
    display:block;
    background-repeat: no-repeat;
    float:left;
    background-size: cover;
    float: left;
    background-position: 0 100%;
    width: 50px;
    cursor:pointer;
}
.header-lamp.short {
    height:160px;
}
.header-lamp.medium {
    height:200px;
}
.header-lamp.long{
    height:240px;
}

.header-lamp-1{
    background-image: url(../img/lamparitas-01.png);
    width: 45px;
}

.header-lamp-2{
    background-image: url(../img/lamparitas-02.png);
}

.header-lamp-3{
    background-image: url(../img/lamparitas-03.png);
    width: 45px;
}

.header-lamp-4{
    background-image: url(../img/lamparitas-04.png);
}

.header-lamp-5{
    background-image: url(../img/lamparitas-05.png);
}

.header-lamp-6{
    background-image: url(../img/lamparitas-06.png);
}

.header-lamp-7{
    background-image: url(../img/lamparitas-07.png);
    width: 60px;
}

.header-lamp-8{
    background-image: url(../img/lamparitas-08.png);
    width:40px;
}

.header-lamp-9{
    background-image: url(../img/lamparitas-09.png);
}

.header-lamp .lamp-circle{
    background-color: rgba(206, 110, 105, 0.4);
    width: 70px;
    height: 70px;
    border-radius: 100%;
    left: -11px;
    position: relative;
    bottom: -57%;
} 

.header-lamp.lighting .lamp-circle{
  background-color: rgba(206, 110, 105, 0.6);  
}

.header-lamp-2 .lamp-circle{
    left: -7px;
    bottom: -70%;
}

.header-lamp-4 .lamp-circle {
    left: -5px;
    bottom: -76%;
    width: 60px;
    height: 60px;
}

.header-lamp-5 .lamp-circle {
        width: 60px;
    height: 60px;
    left: -5px;
    bottom: -63%;
}

.header-lamp-6 .lamp-circle {
        bottom: -72%;
    width: 60px;
    height: 60px;
    left: -4px;
}

.header-lamp-7 .lamp-circle {
        left: -5px;
    bottom: -65%;
}

.header-lamp-8 .lamp-circle {
        bottom: -67%;
    left: -13px;
}

.header-lamp-9 .lamp-circle {
        width: 60px;
    height: 60px;
    left: -6px;
    bottom: -65%;
}

/*ANIMATIONS*/
@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}
 
.swingimage{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3s ease-in-out forwards infinite;
    animation: swinging 3s ease-in-out forwards infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  10% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  25% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  25% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  25% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce-6{
  -moz-animation: bounce 6s infinite;
  -webkit-animation: bounce 6s infinite;
  animation: bounce 6s infinite;
}

.bounce-10{
  -moz-animation: bounce 10s infinite;
  -webkit-animation: bounce 10s infinite;
  animation: bounce 10s infinite;
}

.bounce-8{
  -moz-animation: bounce 8s infinite;
  -webkit-animation: bounce 8s infinite;
  animation: bounce 8s infinite;
}


@media (min-width: 768px){
    header .header-content .header-content-inner h1 {
        font-size: 40px;
    }
}

@media (max-width: 450px){
    .header-border{
        right: -8%;
    }
    .header-border span {
        font-size: 11px;
    }
    .header-border .border {
        margin-top:0;
    }
}


@media (max-width: 640px){
  .header-lamp-6, .header-lamp-7, .header-lamp-8, .header-lamp-9 {
        display: none;
    } 
}

@media (max-height:400px){
    
    .header-lamp-6, .header-lamp-7, .header-lamp-8, .header-lamp-9 {
        display: none;
    }
    
    header .header-content {
        top:40%;
    }
    header .header-content .line {
        margin-right: 20%;
    }
}


.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus{
    color:#111 !important; 
}

.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus{
    color:#111 !important; 
}

.navbar-default .nav>li.active>a span, .navbar-default .nav>li>a:hover span{
    border-bottom: 2px solid #CE6E69;  
}

.navbar-default .nav li:last-of-type a span{
    border:1px solid #111;
    padding: 5px 10px;
}

.navbar-default .nav li:last-of-type a:hover span{
    background-color:rgba(255, 200, 200, 0.6); 
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    text-align:right;
}

#portfolio {
    margin-top:51px;
}

.portfolio-box .portfolio-box-caption {
    background-color:rgba(255, 200, 200, 0.9); 
    color: #111 !important;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    color:#111;
}